{% extends "home/base.html" %}

{% load static %}

{% block title %}
Learn More - Avant
{% endblock %}

{% block content %}
<div class="learn-more-container">
    <h1 class="learn-more-title">Learn More About Our Products</h1>
    <div class="learn-more-image">
        <img src="{% static 'images/backgrounds/background_001.jpg' %}" alt="Learn More Image">
    </div>
    <p class="learn-more-description">
        Discover the advanced features of Avant's UV curable coatings, designed for unmatched efficiency and performance. Our innovative solutions provide the fastest curing times, superior environmental compliance, and exceptional durability. Explore our training videos to master the use of our products and take your projects to the next level.
    </p>
    <div class="learn-more-button-container" style="text-align: center; margin-top: 20px;">
        <a href="{% url 'training:training' %}" class="btn btn-primary btn-lg">Learn More About Training</a>
    </div>
</div>
{% endblock %}
