{% extends "home/base.html" %}
{% load static %}
{% load custom_filters %} <!-- Add this line to load custom filters -->

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Order Confirmation</h2>
    <p>Thank you for your purchase! Here are the details of your order:</p>
    
    <h4>Order Summary</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in orders %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.size.size }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.size.price }}</td>
                <td>${{ item.size.price|multiply:item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right"><strong>Subtotal:</strong></td>
                <td>${{ total_price }}</td>
            </tr>
            <tr>
                <td colspan="4" class="text-right"><strong>Shipping Cost:</strong></td>
                <td>${{ shipping_cost }}</td>
            </tr>
            <tr>
                <td colspan="4" class="text-right"><strong>Total Payment:</strong></td>
                <td>${{ total_payment }}</td>
            </tr>
        </tfoot>
    </table>

    <h4>Shipping Information</h4>
    <p>{{ shipping_address.address_line1 }}<br>
    {% if shipping_address.address_line2 %}{{ shipping_address.address_line2 }}<br>{% endif %}
    {{ shipping_address.city }}, {{ shipping_address.state }} {{ shipping_address.postal_code }}<br>
    {{ shipping_address.country }}</p>

    <h4>Shipping Method</h4>
    <p>{{ shipping_option.name }} - ${{ shipping_option.cost }}</p>

    <p>If you have any questions about your order, please contact us at {{ seller_email }}.</p>
</div>
{% endblock %}
