{% extends "base_generic.html" %}
{% block content %}
  <h2>Order List</h2>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>User</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Order Date</th>
        <th>Shipping Address</th>
        <th>Shipping Option</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td><a href="{% url 'cart:order_detail' order.id %}">{{ order.id }}</a></td>
          <td>{{ order.user.username if order.user else order.guest_email }}</td>
          <td>{{ order.product.title }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.order_date }}</td>
          <td>{{ order.shipping_address }}</td>
          <td>{{ order.shipping_option.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
