{% extends "base_generic.html" %}
{% block content %}
  <h2>Order Detail</h2>
  <p><strong>Order ID:</strong> {{ order.id }}</p>
  <p><strong>User:</strong> {{ order.user.username if order.user else order.guest_email }}</p>
  <p><strong>Product:</strong> {{ order.product.title }}</p>
  <p><strong>Quantity:</strong> {{ order.quantity }}</p>
  <p><strong>Order Date:</strong> {{ order.order_date }}</p>
  <p><strong>Shipping Address:</strong> {{ order.shipping_address }}</p>
  <p><strong>Shipping Option:</strong> {{ order.shipping_option.name }}</p>
{% endblock %}
