{% extends "home/base.html" %}

{% load static %}

{% block title %}
Training Videos - Avant
{% endblock %}

{% block content %}
<div class="container mt-5 training-videos-section">
    <h1 class="text-center mb-5">Avant Training Library</h1>

    <!-- Featured Video Section -->
    <div class="row mb-5">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hp50jNhfqao" allowfullscreen></iframe>
            </div>
            <h2 class="text-center mt-3">Featured Training Video</h2>
            <p class="text-center">Learn the basics of using Avant's UV coating systems to enhance your projects.</p>
        </div>
    </div>

    <!-- Video Gallery Section -->
    <div class="row">
        <!-- Video 1 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TLzLvXWXPyw" allowfullscreen></iframe>
            </div>
            <h3 class="text-center mt-2">Video 1</h3>
        </div>
        <!-- Video 2 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZMxKpCjWR5U" allowfullscreen></iframe>
            </div>
            <h3 class="text-center mt-2">Video 2</h3>
        </div>
        <!-- Video 3 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qx03MqOBRT0" allowfullscreen></iframe>
            </div>
            <h3 class="text-center mt-2">Video 3</h3>
        </div>
        <!-- Video 4 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LkrMoEzaAHo" allowfullscreen></iframe>
            </div>
            <h3 class="text-center mt-2">Video 4</h3>
        </div>
        <!-- Video 5 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dL7nZC9FQOQ" allowfullscreen></iframe>
            </div>
            <h3 class="text-center mt-2">Video 5</h3>
        </div>
        <!-- Video 6 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1iG1sXaYhwY" allowfullscreen></iframe>
            </div>
            <h3 class="text-center mt-2">Video 6</h3>
        </div>
        <!-- Video 7 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CZZrFC2MFAw" allowfullscreen></iframe>
            </div>
            <h3 class="text-center mt-2">Video 7</h3>
        </div>
    </div>
</div>
{% endblock %}
