{% extends "home/base.html" %}

{% block content %}
  <h2>Order History</h2>
  {% if message %}
    <p>{{ message }}</p>
  {% else %}
    <ul>
      {% for order in orders %}
        <li>
          Order ID: {{ order.id }} - Status: {{ order.get_status_display }} - Total: {{ order.total_cost }} USD
          <ul>
            {% for item in order.items.all %}
              <li>{{ item.quantity }} x {{ item.product.title }} ({{ item.size.size }}) - {{ item.total_cost }} USD</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
