{% extends "home/base.html" %}

{% load static %}

{% block title %}
Home - My Company
{% endblock %}

{% block content %}


<!-- Carousel Section -->
<div class="carousel-container mt-5">
    <div class="carousel-track">
        <img src="{% static 'images/test1.jpg' %}" alt="Image 1">
        <img src="{% static 'images/test2.jpg' %}" alt="Image 2">
        <img src="{% static 'images/test3.jpg' %}" alt="Image 3">
        <img src="{% static 'images/test4.jpg' %}" alt="Image 4">
        <img src="{% static 'images/test5.jpg' %}" alt="Image 5">
        <img src="{% static 'images/test6.jpg' %}" alt="Image 6">
        <img src="{% static 'images/test1.jpg' %}" alt="Image 1">
        <img src="{% static 'images/test2.jpg' %}" alt="Image 2">
        <img src="{% static 'images/test3.jpg' %}" alt="Image 3">
        <img src="{% static 'images/test4.jpg' %}" alt="Image 4">
        <img src="{% static 'images/test5.jpg' %}" alt="Image 5">
        <img src="{% static 'images/test6.jpg' %}" alt="Image 6">
        <!-- Add more images as needed -->
    </div>
    </div>
</div>
{% endblock %}