{% extends "home/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-white mb-4">Products</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">From ${{ product.sizes.first.price }}</p>
                    <a href="{% url 'products:product_detail' product.id %}" class="btn btn-info">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
