{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5 product-detail-container">
    <div class="row">
        <div class="col-md-6">
            <div class="product-image-container">
                <img id="product-image" src="{{ product.images.first.image.url }}" class="img-fluid rounded" alt="{{ product.title }}">
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="product-title">{{ product.title }}</h2>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">Price: $<span id="product-price">{{ product.sizes.first.price }}</span></p>
            <form id="add-to-cart-form" method="post" action="{% url 'cart:add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="size" class="form-label">Size:</label>
                    <div class="size-selector">
                        {% for size in product.sizes.all %}
                        <input type="radio" name="size" id="size-{{ size.id }}" value="{{ size.id }}" class="size-option" data-price="{{ size.price }}" data-image="{{ size.size_image.url }}" onchange="updateProductDetails()">
                        <label for="size-{{ size.id }}" class="size-label">{{ size.size }}</label>
                        {% endfor %}
                    </div>
                    <p id="size-error" class="text-danger" style="display: none;">Select a size</p>
                </div>
                <div class="form-group">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control quantity-input">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
            </form>
        </div>
    </div>
</div>

<script>
function updateProductDetails() {
    var selectedOption = document.querySelector('input[name="size"]:checked');
    var price = selectedOption.getAttribute('data-price');
    var imageUrl = selectedOption.getAttribute('data-image');

    document.getElementById('product-price').innerText = price;
    document.getElementById('product-image').src = imageUrl;

    // Hide the error message if a size is selected
    document.getElementById('size-error').style.display = 'none';
}

document.getElementById('add-to-cart-form').addEventListener('submit', function(event) {
    var selectedOption = document.querySelector('input[name="size"]:checked');
    if (!selectedOption) {
        // Show the error message
        document.getElementById('size-error').style.display = 'block';
        // Prevent the form from submitting
        event.preventDefault();
    }
});
</script>

<style>
    .product-detail-container {
        max-width: 100%;
        padding: 0 15px;
        margin-top: 70px; /* Adjust the value to create space below the navbar */
    }

    .product-image-container {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        max-width: 500px; /* Restrict the width to a medium size */
        margin: 0 auto; /* Center the image */
    }

    .product-image-container img {
        width: 100%; /* Ensure the image fills the container */
        height: auto;
        transition: transform 0.2s ease;
    }

    .product-image-container:hover img {
        transform: scale(1.03);
    }

    .product-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
    }

    .product-description {
        font-size: 1.1rem;
        color: #666;
    }

    .product-price {
        font-size: 1.5rem;
        color: #4659c5;
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: 600;
        color: #333;
    }

    .quantity-input {
        width: 100px;
    }

    .btn-primary {
        background-color: #4659c5;
        border: none;
        padding: 12px 20px;
        font-size: 1rem;
        transition: background-color 0.3s, transform 0.3s;
        border-radius: 25px; /* Make the button round */
        width: auto; /* Adjust width */
        display: block;
        margin: 0 auto; /* Center the button */
    }

    .btn-primary:hover {
        background-color: #33439b;
        transform: scale(1.02);
    }

    .right-column {
        margin-top: 20px;
    }

    .size-selector {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .size-option {
        display: none;
    }

    .size-label {
        background-color: #f8f9fa;
        border: 2px solid #000000;
        border-radius: 50%;
        color: #000000;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        height: 40px;
        width: 40px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .size-option:checked + .size-label {
        background-color: #817c7c;
        color: white;
        transform: scale(1.1);
    }

    /* Responsive */
    @media (max-width: 940px) {
        .product-detail-container {
            flex-direction: column;
            margin-top: 60px;
        }

        .left-column,
        .right-column {
            width: 100%;
        }

        .left-column img {
            width: 300px;
            right: 0;
            top: -65px;
            left: initial;
        }
    }

    @media (max-width: 535px) {
        .left-column img {
            width: 220px;
            top: -85px;
        }
    }
</style>
{% endblock %}
