{% extends "home/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-white mb-4 text-center">Our Products</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-img-container">
                    <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.title }}">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text text-muted">From ${{ product.sizes.first.price }}</p>
                    <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary rounded-pill">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .card {
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card-img-container {
        height: 200px;
        overflow: hidden;
        border-bottom: 1px solid #f1f1f1;
    }

    .card-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s;
    }

    .card:hover .card-img-container img {
        transform: scale(1.1);
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-text {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        padding: 10px 20px;
        font-size: 0.875rem;
        transition: background-color 0.3s, transform 0.3s;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
</style>
{% endblock %}
